<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body>
<h1>Welcome to Our Service</h1>
<p>Dear {{name}},</p>
<p>Thank you for signing up for our service.</p>
<p>Use the otp below to reset your password. <br>Password Expires in 10 Minutes</p>
<h4>{{ otp }}</h4>
<p>Best regards,<br>Your Company</p>
</body>
</html>
