<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body>
<h1>Welcome to Our Service</h1>
<p>Dear {{name}},</p>
<p>{{username}} is requesting payment for invoice {{ invoice_number }}</p>
<p>Kindly click on the link below to make payments</p>
<a href="{{ payment_link }}" target="_blank">Make Payment</a>
<p>Best regards,<br>Invoice Manager</p>
</body>
</html>
