
<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
  <li nz-menu-item>
    <a routerLink="/dashboard">
      <span nz-icon nzType="dashboard"></span>
      <span>Dashboard</span>
    </a>
  </li>

  <li nz-menu-item>
    <a routerLink="/dashboard">
      <span nz-icon nzType="user" nzTheme="outline"></span>
      <span>Profile</span>
    </a>
  </li>

  <li nz-menu-item>
    <a routerLink="/dashboard">
      <span nz-icon nzType="usergroup-add" nzTheme="outline"></span>
      <span>Customers</span>
    </a>
  </li>
  <li nz-menu-item>
    <a routerLink="/dashboard">
      <span nz-icon nzType="file-zip" nzTheme="outline"></span>
      <span>Invoices</span>
    </a>
  </li>
  <li nz-menu-item>
    <a routerLink="/dashboard">
      <span nz-icon nzType="pound-circle" nzTheme="outline"></span>
      <span>Payments</span>
    </a>
  </li>
  <li nz-menu-item>
    <a routerLink="/dashboard/taxes">
      <span nz-icon nzType="insurance" nzTheme="outline"></span>
      <span>Taxes</span>
    </a>
  </li>
  <li nz-menu-item>
    <a routerLink="/dashboard" (click)="logOut()">
      <span nz-icon nzType="poweroff" nzTheme="outline"></span>
      <span>Log Out</span>
    </a>
  </li>
<!--  <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">-->
<!--    <ul>-->
<!--      <li nz-menu-item nzMatchRouter>-->
<!--        <a routerLink="/welcome">Welcome</a>-->
<!--      </li>-->
<!--      <li nz-menu-item nzMatchRouter>-->
<!--        <a>Monitor</a>-->
<!--      </li>-->
<!--      <li nz-menu-item nzMatchRouter>-->
<!--        <a>Workplace</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </li>-->

</ul>
