<div class="auth-container">
  <div class="form-container">
    <h2>Register</h2>
    <form [formGroup]="registrationForm">
      <app-alert *ngIf="hasError" [message]="errorMessage" [type]="errorType"></app-alert>
      <div class="input-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" required>
        <div class="error mt-2" *ngIf="(registrationForm.controls['name'].touched || registrationForm.controls['name'].dirty) && registrationForm.controls['name'].errors as formErrors">
          <strong class="text-danger" *ngIf="formErrors['required']">Name field is required</strong><br>
          <strong class="text-danger" *ngIf="formErrors['minlength']">Name too short</strong><br>
        </div>
      </div>
      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" id="email" required formControlName="email">
        <div class="error mt-2" *ngIf="(registrationForm.controls['email'].touched || registrationForm.controls['email'].dirty) && registrationForm.controls['email'].errors as formErrors">
          <strong class="text-danger" *ngIf="formErrors['required']">Email field is required</strong><br>
          <strong class="text-danger" *ngIf="formErrors['email']">Invalid email address</strong><br>
        </div>
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" required formControlName="password">
        <div class="error mt-2" *ngIf="(registrationForm.controls['password'].touched || registrationForm.controls['password'].dirty) && registrationForm.controls['password'].errors as formErrors">
          <strong class="text-danger" *ngIf="formErrors['required']">Password field is required</strong><br>
          <strong class="text-danger" *ngIf="formErrors['passwordMismatch']">Passwords do not match</strong><br>
        </div>
      </div>
      <div class="input-group">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" id="confirm-password" formControlName="confirmPassword" required>
        <div class="error mt-2" *ngIf="(registrationForm.controls['confirmPassword'].touched || registrationForm.controls['confirmPassword'].dirty) && registrationForm.controls['confirmPassword'].errors as formErrors">
          <strong class="text-danger" *ngIf="formErrors['required']">Password field is required</strong><br>
          <strong class="text-danger" *ngIf="formErrors['passwordMismatch']">Passwords do not match</strong><br>
        </div>
      </div>
      <button type="submit" [disabled]="!registrationForm.valid" class="btn" (click)="register()">Register</button>
      <p class="switch">Already have an account? <a routerLink="/auth/login">Login here</a></p>
    </form>
  </div>
</div>
